@import url(https://db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=Proxima+Nova+Regular);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 17px;
    color: #fff;
}

header
{
    width: 100%;
    height: 23vh;
    /* border: 1px solid firebrick; */
}

.upperHeader
{
    width: 100%;
    height: 5vh;
    background-color: rgb(83, 179, 28);
    font-size: 14px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#uHeadList
{
    width: 28%;
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    /* border: 1px solid blue; */
}

.searchBar
{
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid firebrick; */
}

.searchBarBlock
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    /* border: 1px solid yellow; */
}

#searchText
{
    height: 25px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
}

::placeholder
{
    color: white;
}

#searchBigLogo
{
    transform: scale(0.5);
    /* border: 1px solid firebrick; */
}

#searchBigLogo:hover
{
    transform: scale(0.65);
}


.searchLogoBlock, .crossLogoBlock
{
    width: 25px;
    height: 80%;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.searchLogoBlock:hover
{
    background-color: rgb(0, 0, 255, 0.5);
}

#searchLogo
{
    transform: scale(0.25);
}


.crossLogoBlock
{
    position: relative;
    left: -40px;
    visibility: hidden;
    opacity: 0;
}

.crossLogoBlock:hover
{
    background-color: rgb(0, 0, 255, 0.5);
}

#crossLogo
{
    transform: scale(0.01);
}


.lowerHeader
{
    width: 100%;
    height: 18vh;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    top: 0;
    left: 0; */
    z-index: 1; 
}


#citizenLogo
{
    width: auto;
    height: auto;
    margin-left: 10px;
}

#lHeadList
{
    width: 60%;
    height: 100%;
    color: #000;
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.emptyBlock
{
    width:0%;
    height: 2px;
    margin-top: 1px;
    background-color: rgb(83, 179, 28);
    transition: 0.5s;
}

#lHeadList li:hover
{
    color: rgb(83, 179, 28);
}

#lHeadList li:hover .emptyBlock
{
    width: 100%;
}


.popDownList
{
    width: 230px;
    background-color:rgb(83, 179, 28);
    list-style: none;
    color: #fff;
    font-size: 14px;
    /* border: 1px solid yellow; */
    opacity: 0;
    position: absolute;
    left: 637px;
    top: 150px;
    visibility: hidden;
    z-index: 1;
    transition: all 0.5s ease;
}

#lHeadList li:hover .popDownList
{
    opacity: 1;
    visibility: visible;
}

#aboutUs:hover .aboutUsList
{
    top: 140px;
}

#popDownBlock
{
    width: 100%;
    height: 35px;
    padding: 0px 10px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#popDownBlock2
{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#popDownBlock:hover
{
    background-color: rgba(0, 0, 0, 0.8);
}

#popDownBlock2:hover
{
    background-color: rgba(0, 0, 0, 0.8);
}

.aboutUsList
{
    height: 175px;
}

.mediaList
{
    height: 240px;
}

.productsList
{
    height: 210px;
}

.servicesList
{
    height: 240px;
}

#slideShow
{
    width: 100%;
    height: 90vh;
    background: url(../Images/33_banner-2.jpg) no-repeat top right;
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.textBlock
{
    width: 50%;
    height: 50%;
    margin-left: 70px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    align-items: flex-start;
}

.text
{
    height: 70%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#uPara
{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

#mPara
{
    font-size: 30px;
    font-weight:100;
    margin-top: 10px;
}

#bPara
{
    margin-top: 10px;
}

.linkBox
{
    width: 60%;
    height: 50px;
    margin-top: 20px;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#findMore
{
    height: 40px;
    width: 150px;
    border: 1px solid green;
    border-radius: 20px ;
    background-color: #fff;
    color:#000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#findMore:hover
{
    background-color: rgba(83, 179, 28, 0.8);
}

#brochure
{
    height: 40px;
    width: 200px;
    /* border: 1px solid green; */
    border-radius: 20px ;
    background-color: rgba(83, 179, 28, 0.8);
    color:#fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brochure:hover
{
    background-color: rgb(75, 73, 73); 
}

/* solar panel Feature section start here */

#solarPanelFeatures
{
    width: 100%;
    height: 160vh;
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.featureTile1
{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background: url("/Images/08_blurb_bg01.jpg") no-repeat;
    background-size: cover;
}


.featureTile2
{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background: url("/Images/05_blurb_bg02.jpg") no-repeat;
    background-size: cover;
}

.featureTile3
{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background: url("/Images/13_blurb_bg03.jpg") no-repeat;
    background-size: cover;
}

.featureTile4 
{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background: url("/Images/20_blurb_bg04.jpg") no-repeat;
    background-size: cover;
}

.panelPhoto
{
    min-width: 90%;
    height: 45%;
    border: 1px solid yellow;
}

.featuresDetails
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid blue; */
}

.featureHead
{
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.panelName
{
    font-size: 14px;
    margin-bottom: 20px;
}

.panelFeatures
{
    width: 90%;
    font-size: 18px;
    text-align: center;
}

.featureTile1, .featureTile2, .featureTile3, .featureTile4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel1, .panel2, .panel3, .panel4, .pDetail1, .pDetail2, .pDetail3, .pDetail4
{
    position: relative;
    /* top: -15px; */
}

.featureTile1:hover .panel1 
{
    top: -15px;
}

.featureTile1:hover .pDetail1 
{
    top: 15px;
}

.featureTile2:hover .panel2 
{
    top: -15px;
}

.featureTile2:hover .pDetail2 
{
    top: 15px;
}

.featureTile3:hover .panel3
{
    top: -15px;
}

.featureTile3:hover .pDetail3 
{
    top: 15px;
}

.featureTile4:hover .panel4 
{
    top: -15px;
}

.featureTile4:hover .pDetail4
{
    top: 15px;
}