@import url(https://db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=Proxima+Nova+Regular);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 17px;
    color: #fff;
}

header
{
    width: 100%;
    height: 23vh;
    /* border: 1px solid firebrick; */
}

.upperHeader
{
    width: 100%;
    height: 5vh;
    background-color: rgb(83, 179, 28);
    font-size: 14px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#uHeadList
{
    width: 28%;
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    /* border: 1px solid blue; */
}

.searchBar
{
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid firebrick; */
}

.searchBarBlock
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    /* border: 1px solid yellow; */
}

#searchText
{
    height: 25px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
}

::placeholder
{
    color: white;
}

#searchBigLogo
{
    transform: scale(0.5);
    /* border: 1px solid firebrick; */
}

#searchBigLogo:hover
{
    transform: scale(0.65);
}


.searchLogoBlock, .crossLogoBlock
{
    width: 25px;
    height: 80%;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.searchLogoBlock:hover
{
    background-color: rgb(0, 0, 255, 0.5);
}

#searchLogo
{
    transform: scale(0.25);
}


.crossLogoBlock
{
    position: relative;
    left: -40px;
    visibility: hidden;
    opacity: 0;
}

.crossLogoBlock:hover
{
    background-color: rgb(0, 0, 255, 0.5);
}

#crossLogo
{
    transform: scale(0.01);
}

/*Sticky nav bar change point*/
.lowerHeader
{
    width: 100%;
    height: 18vh;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; 
}

/*Sticky nav bar change point*/
#citizenLogo
{
    width: auto;
    height: auto;
    margin-left: 10px;
    /* display:none; */
}


#lHeadList
{
    width: 60%;
    height: 100%;
    color: #000;
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid darkmagenta;  */
}


.home, .media, .aboutUs, .capability, .products, .services, .faqs, .contactUs
{
    /* border: 1px solid blue;  */
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emptyBlock
{
    width:0%;
    height: 2px;
    margin-top: 1px;
    background-color: rgb(83, 179, 28);
    transition: 0.5s;
}

/*Sticky nav bar change point*/
.popDownList
{
    width: 230px;
    background-color:rgb(83, 179, 28);
    list-style: none;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    position: absolute;
    top: 150px;
    visibility: hidden;
    z-index: 1;
    transition: all 0.5s ease;
}

.popDownBlock
{
    width: 100%;
    height: 35px;
    padding: 0px 10px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.popDownBlock2
{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.lHeadLi:hover
{
    color: rgb(83, 179, 28);
}

.lHeadLi:hover .emptyBlock
{
    width: 100%;
}

/*Sticky nav bar change point*/
.aboutUs:hover .aboutUsList, .media:hover .mediaList, .products:hover .productsList, .services:hover .servicesList
{
    opacity: 1;
    visibility: visible;
    top: 140px;
}


.popDownBlock:hover
{
    background-color: rgba(0, 0, 0, 0.8);
}

.popDownBlock2:hover
{
    background-color: rgba(0, 0, 0, 0.8);
}

.aboutUsList
{
    height: 175px;
}

.mediaList
{
    height: 240px;
}

.productsList
{
    height: 210px;
}

.servicesList
{
    height: 240px;
}

.stickyhead
{
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.9);
    /* border: 1px solid blue; */
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    position: fixed;
    top: 0;
    left: 0;
}

#slideShow
{
    width: 100%;
    height: 90vh;
    background: url('/Images/33_banner-2.jpg') no-repeat;
    background-size: cover;
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.textBlock
{
    width: 50%;
    height: 50%;
    margin-left: 70px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    align-items: flex-start;
}

.text
{
    height: 70%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#uPara
{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

#mPara
{
    font-size: 30px;
    font-weight:100;
    margin-top: 10px;
}

#bPara
{
    margin-top: 10px;
}

.linkBox
{
    width: 60%;
    height: 50px;
    margin-top: 20px;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#findMore
{
    height: 40px;
    width: 150px;
    border: 1px solid green;
    border-radius: 20px ;
    background-color: #fff;
    color:#000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#findMore:hover
{
    background-color: rgba(83, 179, 28, 0.8);
}

#brochure
{
    height: 40px;
    width: 200px;
    /* border: 1px solid green; */
    border-radius: 20px ;
    background-color: rgba(83, 179, 28, 0.9);
    color:#fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brochure:hover
{
    background-color: rgb(75, 73, 73); 
}

/* solar panel Feature section start here */

#solarPanelFeatures
{
    width: 100%;
    height: 160vh;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.featureTile1
{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background: url("/Images/08_blurb_bg01.jpg") no-repeat;
    background-size: cover;
}


.featureTile2
{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background: url("/Images/05_blurb_bg02.jpg") no-repeat;
    background-size: cover;
}

.featureTile3
{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background: url("/Images/13_blurb_bg03.jpg") no-repeat;
    background-size: cover;
}

.featureTile4 
{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background: url("/Images/20_blurb_bg04.jpg") no-repeat;
    background-size: cover;
}

.panelPhoto
{
    min-width: 90%;
    height: 45%;
    /* border: 1px solid yellow; */
}

.featuresDetails
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid blue; */
}

.featureHead
{
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.panelName
{
    font-size: 14px;
    margin-bottom: 20px;
}

.panelFeatures
{
    width: 90%;
    font-size: 18px;
    text-align: center;
}

.featureTile1, .featureTile2, .featureTile3, .featureTile4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.featureTile1:hover .panel1 
{
    transform: translateY(-15px);
}

.featureTile1:hover .pDetail1 
{
    transform: translateY(15px);
}

.featureTile2:hover .panel2 
{
    transform: translateY(-15px);
}

.featureTile2:hover .pDetail2 
{
    transform: translateY(15px);
}

.featureTile3:hover .panel3
{
    transform: translateY(-15px);
}

.featureTile3:hover .pDetail3 
{
    transform: translateY(15px);
}

.featureTile4:hover .panel4 
{
    transform: translateY(-15px);
}

.featureTile4:hover .pDetail4
{
    transform: translateY(15px);
}

.panel1, .panel2, .panel3, .panel4, .pDetail1, .pDetail2, .pDetail3, .pDetail4
{
    transition: transform 500ms;
}


#aboutUsSection
{
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    /* border: 1px solid blue; */
    color: black;
    display: flex;
    justify-content: flex-end;
}

.aboutUsBlock
{
    width: 50%;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#aboutUsHead
{
    font-size: 60px;
    color: rgb(83, 179, 28);
    margin-bottom: 20px;
}

#aboutUsHead::after
{
    content:"";
    width: 8vw;
    display: block;
    margin-top: 10px;
    border-bottom: 2px solid rgb(83, 179, 28);
}

.aboutUsText
{
    font-size: 18px;
    margin-bottom: 25px;
}

#readMore
{
    width: 170px;
    height: 60px;
    background-color: rgb(83, 179, 28);
    border: 1px solid rgb(83, 179, 28);
    border-radius: 30px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#readMore:hover
{
    background-color: #fcb900;
    border-color: #fcb900;
}

#readMore svg
{
    margin-left: 10px;
}

#citizenSolar
{
    width: 100%;
    height: 75vh;
    background: url('/Images/09_cta02.jpg') no-repeat center;
    background-size: cover;
}

.citizenSolarBlock
{
    width: 60%;
    height: 100%;
    /* border: 1px solid firebrick;  */
    padding: 65px;
}


#citizenSolarHead
{
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
}

#citizenSolarHead::after
{
    content:"";
    width: 8vw;
    display: block;
    margin-top: 20px;
    border-bottom: 2px solid rgb(83, 179, 28);
}

.citizenSolarText
{
    font-size: 18px;
    margin-bottom: 25px;
}

#whyCitizenBtn
{
    width: 160px;
    height: 60px;
    margin-top: 50px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 30px;
    color: rgb(83, 179, 28);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#whyCitizenBtn:hover
{
    background-color: transparent;
    color: #ffffff;
}


#bestProducer
{
    width: 100%;
    height: 120vh;
    background-color: rgba(128, 128, 128, 0.1);
    /* border: 1px solid firebrick; */
}

.bestProducerBlock
{
    width: 100%;
    height: 100%;
    padding: 40px;
}

.headingBox
{
    display: flex;
    justify-content: center;
}

#bestProducerHead
{
    font-size: 30px;
    color: rgb(83, 179, 28);    
}

#bestProducerHead::after
{
    content:"";
    width: 20%;
    margin-top: 20px;
    border: 1.5px solid rgb(83, 179, 28);
    display: block;
    position: relative;
    left: 200px;
}

.bestProducerText
{
    font-size: 18px;
    color: black;
    line-height: 25px;
    margin: 25px 0;
}


#quickLinks
{
    width: 100%;
    height: 90vh;
    /* border: 1px solid firebrick; */
    background: url('/Images/09_cta02.jpg') no-repeat left;
    background-size: cover;
    display: flex;
    font-size: 17px;
}

.makeInIndia
{
    width: 27%;
    height: 100%;
    /* border: 1px solid blueviolet; */
    padding-left: 15px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

#ftCitizenLogo
{
    width: auto;
    height: auto;
    margin: 30px 0 10px 0;
}

.mkIndiaText
{
    margin: 10px 0 20px 0;
    line-height: 25px;
}

.copyRightText
{
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 15px;
}

#makeIndiaLogo
{
    width: 180px;
    height: 90px;
}

.linkTableBlock
{
    width: 73%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkTable
{
    width: 100%;
    height: 70%;
}

#linkTable a
{
    text-decoration: none;
    color: #ffffff;
}

#linkTable a:hover
{
    color: rgba(0, 0, 0, 0.7);
}

th
{
    height: 50px;
    width: 33.33%;
    font-size: 20px;
    text-align: left;
}

tr
{
    height: 28px;
}

/* .threeRows
{
    border: 1px solid firebrick;
} */

.heading3
{
    font-size: 18px;
}


.socialMediaIcons
{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
}

#facebook:hover
{
    fill:#000000;
}

.copyRightText a
{
    text-decoration: none;
    color: #ffffff;
}


/* #countingNum
{
    width: 100%;
    height: 50vh;
    border: 1px solid violet;
} */